<% form_path = @quiz.persisted? ? quiz_path(@quiz,access_password: @quiz.access_password) : quizzes_path %>

<%= simple_form_for(@quiz,url: form_path) do |f| %>
  
  <%= @model = @quiz ; render partial: 'shared/error_message' %>
  <%= f.error_notification %>

  <div class="panel panel-default nested-fields answer-container form-inputs">
    <div class="panel-body">
      <%= f.input :title %>
      <%= f.input :owner_email %>
    </div>
  </div>  

  <%= f.fields_for :questions do |question| %>
 	       <%= render 'question_fields', :f => question %>
  <% end %>


  <p><%= link_to_add_association raw('<i class="fa fa-plus"></i> Add a question'), f, :questions, :class => 'btn btn-default' %></p>


  <div class="form-actions">
    <hr />

    <%= f.button :submit %>
  </div>
<% end %>
