<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quiz.title %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @quiz.owner_email %>
</p>


<p><b>Here is your access link : </b></p>

<div class="alert alert-warning" role="alert">
	<% url = "http://"+ ENV['HOST']+quiz_path(@quiz, access_password: @quiz.access_password) %>
	<%= link_to url, url %>
</div>

<%= link_to 'Edit', edit_quiz_path(@quiz, access_password: @quiz.access_password ) %> |
<%= link_to 'Back', quizzes_path %>
