<%- model_class = Session -%>
<div class="page-header">
  <h3><%= @session.quiz.title %> > <%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p><b>Status:</b> <%= @session.started? ? "STARTED" : 'NOT STARTED' %> </p>
    <% if @session.started? %>
    <p><b>Current question: </b> <%= @session.current_question_index + 1 %>) <%= @session.current_question.title %></p>
    <% end %>
  </div>
</div>


<p><b>Here is the access key to access the quiz session : </b></p>

<div class="panel panel-default">
  <div class="panel-body">
  <%= @session.access_key %>
  </div>
</div>

<h3> Participants </h3>

<%= @participants = @session.participants ; render 'participants/list'   %>

<% if @session.started? %>
    <% if !@session.current_question.last_question? %>
      <%= link_to raw('<i class="fa fa-exchange"></i> ')+t('.switch_to_next_question', :default => raw('Switch to the next question')), switch_to_next_question_session_path(@session), :class => 'btn btn-default'  %>
      <% end %> 
      
<% else %>
  <%= link_to raw('<i class="fa fa-play-circle"></i> ') + t('.start', :default => raw('Start the Quiz session')), start_session_path(@session), :class => 'btn btn-default'  %> 
<% end %>

<%= link_to t('.back', :default => 'Back to the Quiz'),
              quiz_path(@session.quiz, access_password: @session.quiz.access_password), :class => 'btn btn-default'  %> 
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_session_path(@session), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              session_path(@session),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
