<%- model_class = Session -%>
<div class="page-header">
  <h3><%= @session.quiz.title %> > <%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>

<p><b>Here is the access key to access the quiz session : </b></p>

<div class="panel panel-default nested-fields answer-container">
  <div class="panel-body">
  <%= @session.access_key %>
  </div>
</div>

<h3> Participants </h3>

<%= @participants = @session.participants ; render 'participants/list'   %>


<%= link_to t('.back', :default => 'Back to the Quiz'),
              quiz_path(@session.quiz, access_password: @session.quiz.access_password), :class => 'btn btn-default'  %> 
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_session_path(@session), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              session_path(@session),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
