<input type="hidden" data-attribute='authorization_key' value="<%= @participant.authorization_key %>" />
<input type="hidden" data-attribute='session_key' value="<%= @session.access_key %>" />

<div class="row">
  <div class="col-md-3">

  <input type="text" data-attribute='participant_name' value="<%= @participant.name %>" disabled />
      <p class="big-text">Participants</p>
      <%= react_component('ParticipantsList', participants: @participant_list ) %>
      <br />
      <p class="big-text">Activity feed</p>
      <div class="list-group-item">          
          <%= react_component('ActivityFeed' ) %>
      </div>
  </div>

  <div class="col-md-9">

     <% data = @session.current_question ? { question: @session.current_question.format(:title_with_answers) } : nil %>
     <%= react_component('QuestionDisplay', data ) %>

  </div>
</div>
